bcrypt==3.1.6
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
Django==2.2.1
django-cors-headers==3.0.2
django-extensions==2.1.9
django-grappelli==2.13.1
gunicorn==19.9.0
idna==2.8
mock==3.0.5
mysql-connector-python==8.0.16
Pillow==6.0.0
protobuf==3.8.0
pycparser==2.19
pycryptodome==3.8.2
pycryptodomex==3.8.2
PyJWT==1.7.1
pytz==2019.1
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
XlsxWriter==1.1.9
PyMySQL==0.9.3
beautifulsoup4==4.7.1
gensim=3.8.0
JPype1==0.7.0
lxml==4.4.0
PyMySQL==0.9.3